{
  "printWidth": 140,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
